---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('posts'))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="JGarciaOs">
  <div class="index-content framed">
    <h1 id="Bienvenida">system.init("JGarciaOs")</h1>

    <p>
      Hola! Soy <strong>Javier</strong>, un estudiante de ingeniería de sistemas en la Universidad El Bosque.
      Actualmente, este espacio sirve como mi blog personal y portafolio académico, donde documento
      mi viaje en el mundo de la tecnología y la computación.    
    </p>

    <p>
      Este semestre estoy enfocado en comprender <strong>Bases de Datos 1</strong>. Estoy seguro de que entender cómo se estructura,
      almacena y recupera la información de manera eficiente es la parte más importante para construir cualquier sistema robusto
      en el mundo empresarial. 
    </p>

    <p>
      Si quieres conocerme un poco mejor, puedes ver mi video de presentación oficial para el curso,
      puedes visitar la sección <a href="/about/"><strong>"Acerca de mí"</strong></a>.
    </p>

  </div>
  
  <div class="posts">
    <h2 style="margin-top: 2rem;">> Últimas entradas del log</h2>
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>