---
import BaseLayout from '../layouts/BaseLayout.astro';
const base = import.meta.env.BASE_URL.endsWith('/') ? import.meta.env.BASE_URL : import.meta.env.BASE_URL + '/';
---

<BaseLayout title="Proyecto Final | QueBoleteo">
  <article class="post">
    <h1 class="post-title">SQL</h1>
    <div class="post-meta">
      <span class="post-author">:: JGarciaOs</span>
    </div>

    <div class="post-content">
      <section style="margin-top: 2rem;">
        <h3>Ejercicios de Álgebra Relacional</h3>
        <p><strong>Explicación:</strong> Como etapa analítica previa al uso del lenguaje estructurado de consultas (SQL), se abordó el estudio del álgebra relacional en su rol de fundamento matemático subyacente. 
        Comprender los operadores formales que gobiernan las selecciones, proyecciones y uniones permite estructurar consultas SQL más eficientes y lógicas. 
        Este módulo práctico se consolidó en el tercer taller grupal, cuyo objetivo fue la formulación de expresiones algebraicas complejas basadas en esquemas relacionales predefinidos.</p>

      <p class="enlace-descarga">
          Puedes revisar los enunciados con su respectiva solución en el siguiente PDF
          <a href={`${base}TercerTaller_GarciaJavier_OrjuelaJuan.pdf`} download="TercerTaller_GarciaJavier_OrjuelaJuan.pdf">
          </a>.
        </p>


      </section>
      <hr/>
    </div>
  </article>
</BaseLayout>

<style>
  .evidence-img {
    width: 100%;
    height: auto;
    border: 1px solid #444;
    margin: 1rem 0 2rem 0;
    display: block;
  }
  h3 {
    color: var(--global-color-primary, #2ecc71);
  }
  .enlace-descarga {
    margin-top: 1rem;
    font-style: italic;
  }
  .enlace-descarga a {
    color: var(--global-color-primary, #2ecc71); 
    text-decoration: underline;
    font-weight: bold;
    transition: opacity 0.2s ease;
  }
  .enlace-descarga a::before {
    content: "[↓] ";
    font-family: monospace;
  }

  .enlace-descarga a:hover {
    opacity: 0.8;
  }
</style>